<div class="row resume">
    <div class="card col-10 ml-md-2 mb-3">
      <div class="card-body pb-0">
        <h6 class="card-title">About Me
          <a href="https://www.linkedin.com/in/zeliang-yao-359183114/">
            <i class="fab fa-linkedin"></i></a>
  
          <a href="https://github.com/yaozeliang/">
            <i class="fab fa-github" style="color: lightslategrey"></i></a>
        </h6>
        <!-- <p class="card-text mb-1"><b>所以我们奋力向前,逆水行舟,直至被推回往昔岁月</b> </p> -->
        <p class="card-text mb-0"><span><i class="far fa-envelope "></i></span> zeliang.yao@efrei.net</p>
        <p><span><i class="fab fa-weixin" style="color: yellowgreen"></i></span> alpha94511</p>
      </div>
    </div>
</div>