{% extends "base.html" %} 

{% load static %} 
{% load article_extras %}

{%block extra_css%}
<link rel="stylesheet" href="{% static 'layui/css/layui.css' %}">
{%endblock extra_css%}

{% block title %}
Covid-19 Dashboard
{% endblock title %}

{% block content %}

<div class="layui-container ">

    <div class="alert alert-danger alert-dismissible fade show mt-2" role="alert">
        <strong>Requesting Data backend...</strong> If there's no graph, Please wait 5 seconds
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="layui-row mt-3 wrapper layui-anim layui-anim-up layui-anim-fadein">

        <div class="layui-col-md-lg-10 layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
            <ul class="layui-tab-title">
              <li class="layui-this">Global View</li>
              <li>France</li>
            </ul>

            <div class="layui-tab-content"">
              <div class="layui-tab-item layui-show">

                <div class="layui-row">
                  
                    <div class="layui-col-md8">
                      <blockquote class="layui-elem-quote">Top 10 Contries With Highest Confirmed Cases Total</blockquote>
                      <figure class="highcharts-figure">
                        <div id="top_10_total"></div>
                      </figure>

                      <blockquote class="layui-elem-quote">Top 10 Contries With Highest Confirmed Cases Today </blockquote>
                      <figure class="highcharts-figure">
                        <div id="top_10_today"></div>
                      </figure>
                    </div>

                    <div class="layui-col-md4">
                        <blockquote class="layui-elem-quote">Global Cases</blockquote>
                        <table class="table table-sm">
                            <!-- <thead>
                              <tr>
                                <th>So far</th>
                                <th>Count</th>
                              </tr>
                            </thead> -->
                            <tbody>
                              <tr class="text-primary">
                                <td>Confirmed</td>
                                <td>{{general_data.TotalConfirmed}}</td>
                              </tr>
                              <tr class="text-danger">
                                <td>Deaths</td>
                                <td>{{general_data.TotalDeaths}}</td>
                              </tr>
                              <tr class="text-success">
                                <td>Recovered</td>
                                <td>{{general_data.TotalRecovered}}</td>
                              </tr>
                            </tbody>
                        </table>

                        <blockquote class="layui-elem-quote">{{ today_date }}</blockquote>

                        <table class="table table-sm">

                            <tbody>
                            <tr class="text-primary">
                                <td >NewConfirmed</td>
                                <td>{{general_data.NewConfirmed}}</td>
                              </tr>
                              <tr class="text-danger">
                                <td>NewDeaths</td>
                                <td>{{general_data.NewDeaths}}</td>
                              </tr>
                              <tr class="text-success">
                                <td>NewRecovered</td>
                                <td>{{general_data.NewRecovered}}</td>
                              </tr>
                            </tbody>
                        </table>

                        <hr class="layui-bg-orange">

                          <figure class="highcharts-figure">
                            <div id="europe_last_five"></div>
                            <hr class="layui-bg-cyan">
                            <div id="fr_last_five"></div>
                          </figure>

                    </div>



                </div>

              </div>
              <div class="layui-tab-item">内容2</div>
              <div class="layui-tab-item">内容3</div>


            </div>
          </div> 

        </div>
    </div>


</div>



{% block script %}


<script type="text/javascript" src="https://code.highcharts.com/highcharts.js"> </script> 
<script type="text/javascript" src="https://code.highcharts.com/modules/exporting.js"> </script> 
<script type="text/javascript" src="https://code.highcharts.com/modules/export-data.js"></script> 
<script type="text/javascript" src="https://code.highcharts.com/modules/accessibility.js"></script> 
<script type="text/javascript" src="https://code.highcharts.com/modules/cylinder.js"></script>
<script type="text/javascript" src="https://code.highcharts.com/highcharts-3d.js"></script>
<script src="{% static 'layui/layui.js' %}"></script>
<script src="https://kit.fontawesome.com/bc53a4b4cc.js" crossorigin="anonymous"></script>
<script>
    layui.use(['element', 'layer'], function(){
      var element = layui.element;
      var layer = layui.layer;
      });
</script>
{% endblock script %}



<script>
  var chart1 = new Highcharts.Chart({
    chart: {
        renderTo: 'europe_last_five',
        type: 'line',
    },
    title: {
          text: 'Main Europe Last 5 days'
      },
      subtitle: {
          text: 'Source: covid19api.com'
      },
      xAxis: {
          categories: {{fr_5_date|safe}},
          crosshair: true
      },
      yAxis: {
          min: 100000,
          title: {
              text: 'Confirmed Case'
          }
      },
      legend: {
        reversed: true
    },
      series: [ {name: "France",data:{{fr_5_confirmed}}}, 
                {name: "Spain",data:{{sp_5_confirmed}}},
                {name: "Uk",data:{{en_5_confirmed}}},
                {name: "Italy",data:{{it_5_confirmed}}},
                {name: "Germany",data:{{ger_5_confirmed}}},
      ]
  });
</script>


<script>
  var chart2 = new Highcharts.Chart({
    chart: {
        renderTo: 'fr_last_five',
        type: 'line',
    },
    title: {
          text: 'France in Last 5 days'
      },
      xAxis: {
          categories: {{fr_5_date|safe}},
          crosshair: true
      },
      yAxis: {
          min: 150000,
          title: {
              text: 'Total Cases'
          }
      },
      legend: {
        reversed: true
    },
      series: [ {name: "France",data:{{fr_5_confirmed}}}]
  });
</script>


<script>

  var chart3 = new Highcharts.Chart({
    chart: {
      renderTo: 'top_10_total',
      type: 'column',
      options3d: {
        enabled: true,
        alpha: 15,
        beta: 15,
        depth: 50,
        // /* viewDistance: 25 */
      }
    },
    title: {
          text: ''
      },
      xAxis: {
          categories: {{top_10_coutnrys_total|safe}}
      },
      yAxis: {title: {text: 'Counts'}},
      series: [{
          type: 'column',
          name: 'Confirmed',
          data: {{top_10_confirm_total}},
      }, {
          type: 'column',
          name: 'Deaths',
          data:{{top_10_death_total}},
      }, {
          type: 'column',
          name: 'Recovered',
          data:{{top_10_recover_total}},
      }]
  });
  
  
  </script>


<script>

  var chart4 = new Highcharts.Chart({
    chart: {
      renderTo: 'top_10_today',
      type: 'bar',
      options3d: {
        enabled: true,
        alpha: 15,
        beta: 15,
        depth: 50,
      }
    },
    title: {
        text: ''
    },
    plotOptions: {
        series: {
            depth: 25,
            colorByPoint: true
        }
    },
    xAxis: {
          categories: {{top_10_coutnrys_today|safe}},
          },
    yAxis: {
      title: {text: 'Number'},
           },
    series: [{data: {{top_10_confirm_today|safe}},
              name: 'New Case',
              },]
});
  
  </script>

{% endblock content %}


