{% extends 'base.html' %}
{% load static %}

{% block title %}
    文章详情
{% endblock title %}

{% block content %}
<!-- 文章详情 -->
<div class="container">
    <div class="row">
        <!-- 标题及作者 -->
        <h1 class="col-12 mt-4 mb-4">{{ article.title }}</h1>
        <div class="col-12 alert alert-success">作者：{{ article.author }}
        
        </div>
        <!-- 文章正文 -->
        <div class="col-12">
            <p>{{ article.body|safe }}</p>
        </div>
        
        
        <a class="col-2 btn btn-info mr-5" href="{% url 'article:article_update' article.id %}">编辑文章</a>
        <a class="col-2 btn btn-danger" 
           href="#"
           onclick="confirm_safe_delete()">删除文章</a>

        
    </div>
</div>

<form 
      style="display:none;" 
      id="safe_delete"
      action="{% url 'article:article_safe_delete' article.id %}" 
      method="POST">
    {% csrf_token %}
    <button type="submit">发送</button>
</form>

<script>
    // 删除文章的函数
    function confirm_safe_delete() {
        // 调用layer弹窗组件
        layer.open({
            
            title: "确认删除",
            content: "确认删除这篇文章吗？",
            // 点击确定按钮后调用的回调函数
            time: 5000,
            anim: 3,
            btn: ['Yes', 'Cancel'],
            // yes 不对应按钮，总是对应第一个按钮
            yes: function(index, layero) {
                // 指定应当前往的 url
                $('form#safe_delete button').click();
                layer.close(index);
            },
        })
    }
</script>

{% endblock content %}




