{% extends 'base.html' %}
{% load static %}

{% block title %}
    文章详情
{% endblock title %}

{% block content %}

<script src="{% static 'ckeditor/ckeditor/plugins/prism/lib/prism/prism_patched.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'prism/prism.css' %}">
<!-- 文章详情 -->
<div class="container">
    <div class="row">
        <!-- 标题及作者 -->
    <div class="col-9">
        <h1 class="mt-4 mb-4">{{ article.title }}</h1>
        <p>
        <span>
            <i class="fas fa-user-edit" style="color:rgb(218, 119, 7)"></i>
            {{ article.author }}&nbsp;&nbsp;&nbsp;
        </span>
        <span>
            <i class="fas fa-eye" style="color: lightskyblue;"></i>
            {{ article.total_views }}&nbsp;&nbsp;&nbsp;
        </span>
        <span>
            <i class="fas fa-comments" style="color: yellowgreen;"></i>
            {{ article.comments.count }}&nbsp;&nbsp;&nbsp;
        </span>
        <span>
          <i class="fas fa-calendar-alt" style="color:coral"></i>
            {{ article.created|date:'Y-m-d' }}
        </span>
        </p>
        <!-- <div class="alert alert-success">作者：{{ article.author }}
        <br>
        浏览：{{ article.total_views }}
        <br>
        评论：{{ comments.count }}
        </div> -->

        {% if user == article.author %}
        <a class="col-2 btn btn-info mr-3 btn-sm" href="{% url 'article:article_update' article.id %}">编辑文章</a>
        <a class="col-2 btn btn-danger btn-sm" 
           href="#"
           onclick="confirm_safe_delete()">删除文章</a>
        {% endif %}
        <!-- 文章正文 -->
        <div class="col-12">
            <p>{{ article.body|safe }}</p>

        </div>

        <div class="row justify-content-end">
            {% if next_article %}
            <div class="col-auto mr-auto">
                <a  href="{{ next_article.get_absolute_url }}" 
                    class="btn btn-outline-dark"
                    >
                    <i class="fas fa-arrow-left"></i>&nbsp;上一篇
                </a>
            </div>
            {% endif %}
        {% if pre_article %}
            <div class="col-auto">
                <a  href="{{ pre_article.get_absolute_url }}" 
                class="btn btn-outline-dark" 
                >
                下一篇&nbsp;<i class="fas fa-arrow-right"></i>
                </a>
            </div>
        {% endif %}
        </div>


        <!-- 发表评论 -->
        <hr>
        {% if user.is_authenticated %}
            <div>
                <form 
                    action="{% url 'comment:post_comment' article.id %}" 
                    method="POST"
                >
                {% csrf_token %}
                    <div class="form-group">
                        <label for="body">
                            <strong>
                                我也要发言：
                            </strong>
                        </label>
                        <!-- <textarea 
                            type="text" 
                            class="form-control" 
                            id="body" 
                            name="body" 
                            rows="2"></textarea> -->
                        <div>
                            {{ comment_form.media }}
                            {{ comment_form.body }}
                        </div>
                    </div>
                    <!-- 提交按钮 -->
                    <button type="submit" class="btn btn-primary ">发送</button>                    
                </form>
            </div>
            <br>
        {% else %}
            <br>
            <h5 class="row justify-content-center">
                请<a href="{% url 'userprofile:login' %}">登录</a>后回复
            </h5>
            <br>
        {% endif %}



        <!-- 显示评论 -->
        <h4  class="mt-4 alert alert-info">共有{{ comments.count }}条评论</h4>
        <div>
            {% for comment in comments %}
                <hr>
                <p>
                    <strong style="color: pink">
                        {{ comment.user }}
                    </strong> 于 
                    <span style="color: green">
                        {{ comment.created|date:"Y-m-d H:i:s" }}
                    </span> 评论：
                </p>
                <pre style="font-family: inherit; font-size: 1em;">{{ comment.body|safe}}</pre>
                {% if user == comment.user %}
                <a href="{% url 'comment:delete_comment' article.id comment.id %}" class="btn btn-danger btn-sm">删除</a>
                {% endif %}
            {% endfor %}
        </div>
    </div>

        
    <div class="col-3 mt-4" id="sidebar" class="sidebar">
        <div class="sidebar__inner">
            <h4><strong>目录</strong></h4>
            <hr>
            <div>
                {{ toc|safe }}
            </div>
        </div>
    </div>


    </div>
</div>

<form 
      style="display:none;" 
      id="safe_delete"
      action="{% url 'article:article_safe_delete' article.pk %}" 
      method="POST">
    {% csrf_token %}
    <button type="submit">发送</button>
</form>

<script>
    // 删除文章的函数
    function confirm_safe_delete() {
        // 调用layer弹窗组件
        layer.open({
            
            title: "确认删除",
            content: "确认删除这篇文章吗？",
            // 点击确定按钮后调用的回调函数
            time: 5000,
            anim: 3,
            btn: ['Yes', 'Cancel'],
            // yes 不对应按钮，总是对应第一个按钮
            yes: function(index, layero) {
                // 指定应当前往的 url
                $('form#safe_delete button').click();
                layer.close(index);
            },
        })
    }
</script>

{% block script %}

<!-- 粘性侧边栏 -->
<script src="{% static 'sticky_sidebar/jquery.sticky-sidebar.min.js' %}"></script>
<script type="text/javascript">
    $('#sidebar').stickySidebar({
        topSpacing: 20,
        bottomSpacing: 20,
    });
</script>

<!-- Ckeditor自适应 -->
<script>
    $(".django-ckeditor-widget").removeAttr('style');
</script>

{% endblock script %}

{% endblock content %}




