{% extends "base.html" %} 

{% load static %} 
{% load article_extras %}

{% block title %}
首页
{% endblock title %}

<!-- 写入 base.html 中定义的 content -->
{% block content %}

<!-- 定义放置文章标题的div容器 -->
<div class="container">
<div class="row">
<main class="col-md-8 mr-auto">
  <br />
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb" style="background-color: white; padding: 0 0 0 2px; font-size: 1.2em">
      <li class="breadcrumb-item" >
        <a  class="no-underline "
           style="color: gray" 
           href="{% url 'article:article_list' %}?search={{ search }}&category={{ category }}&tag={{ tag }}">
          <span><i class="fas fa-book-open" style="color: rosybrown;"></i></span> 最新
        </a>
      </li>

      
      <li class="breadcrumb-item" >
        <a style="color: gray" 
           class="no-underline "
          href="{% url 'article:article_list' %}?order=total_views&search={{ search }}&category={{ category }}&tag={{ tag }}"
        ><span></span><i class="fab fa-hotjar" style="color: red;"></i></span> 最热
        </a>
      </li>

      <li class="breadcrumb-item" >
        <a style="color: gray"
           class="no-underline hvr-grow-rotate"
           href="{% url 'article:article_list' %}"
        >全部文章
        </a>
      </li>
      
    </ol>
  </nav>

  <!-- 新增，搜索栏 -->

      <form class="form-inline">
        <label class="sr-only">content</label>
        <input
          type="text"
          class="form-control  mr-sm-2"
          style="border-left-color: #f0ad4e;"
          name="search"
          placeholder="搜索文章..."
          required
        />
        <button type="submit" class="btn btn-warning">Search</button>
      </form>
      <br>


  <!-- 新增，搜索提示语 -->
  {% if search %} 
  
  {% if articles %}
  <h4><span style="color: red;">"{{ search }}"</span>的搜索结果如下：</h4>
  <hr />
  {% else %}
  <br />
  <h4>暂无<span style="color: red;">"{{ search }}"</span>有关的文章。</h4>
  <hr />
  {% endif %}
  
  {% endif %}

  <div class="row mt-2 ">
    {% for article in articles %}
 
        {% if article.avatar %}
            <div class="col-3 pb-0">
                <img src="{{ article.avatar.url }}" 
                      alt="avatar" 
                      class="img-fluid"
                      style="border-radius: 5%"
                >
            </div>
        {% endif %}

      <!-- 栏目 -->
    <div class="col-9 pb-0">
      
      <!-- 标题 -->
      <h5>
        <b>
          <a
            href="{% url 'article:article_detail' article.id %}"
            style="color: black;"
          >
            {{ article.title }}
          </a>
        </b>
      </h5>
      
      
        <!-- <p style="color: gray;" >
          {{ article.body|slice:'50' }}...
        </p> -->
      
      <p>
    <!-- {% if article.category %}
 
      <a
        role="button"
        href="{% url 'article:article_list' %}?category={{ article.category.id }}"
        class="btn btn-sm btn-info"><i class="fas fa-code-branch"></i>&nbsp;{{ article.category }}</a>
   
    {% endif %} -->


    {% if article.category %}
 
    <a
      role="button"
      href="{% url 'article:article_list' %}?category={{ article.category.id }}"
      class="btn  btn-outline-secondary btn-sm" 
    ><i class="fas fa-code-branch" style="color:palevioletred"></i>&nbsp;{{ article.category }}</a>
    
    {% endif %}

    <!-- <span><i class="fas fa-code-branch" style="color:palevioletred"></i></span> -->
      <!-- Tags -->
      {% for tag in article.tags.all %}

        <span>
        <a
          href="{% url 'article:article_list' %}?tag={{ tag }}"
          class="badge badge-info" 
        >
          {{ tag }}
        </a>
      </span>
      {% empty %}
      {% endfor %}
  
    </p>

      <p >
      <span>
          <i class="fas fa-user-edit" style="color:rgb(218, 119, 7)"></i>
          {{ article.author }}&nbsp;&nbsp;&nbsp;
      </span>

       <span>
          <i class="fas fa-eye" style="color: lightskyblue;"></i>
          {{ article.total_views }}&nbsp;&nbsp;&nbsp;
      </span>
      <span>
          <i class="fas fa-comments" style="color: yellowgreen;"></i>
          {{ article.comments.count }}&nbsp;&nbsp;&nbsp;
      </span>
      <span>
        <i class="fas fa-calendar-alt" style="color:coral"></i>
          {{ article.created|date:'Y-m-d' }}
      </span>
      </p>
    </div>
      <hr style="width: 100%;"/>
    {% endfor %}
  
  </div>

<!-- 页码导航 -->
<div class="pagination">
  <div class="m-auto">
    <span class="step-links">
      <!-- 如果不是第一页，则显示上翻按钮 -->
      {% if articles.has_previous %}
      <a
        href="?page=1&order={{ order }}&search={{ search }}&category={{ category }}&tag={{ tag }}"
        class="btn btn-outline-dark btn-sm"
      >
        &laquo; First
      </a>
      <span>...</span>
      <a
        href="?page={{ articles.previous_page_number }}&order={{ order }}&search={{ search }}&category={{ category }}&tag={{ tag }}" 
        class="btn btn-secondary btn-sm"
      >
        {{ articles.previous_page_number }}
      </a>
      {% endif %}

      <!-- 当前页面 -->
      <span class="current btn btn-danger btn-md">
        {{ articles.number }}
      </span>

      <!-- 如果不是最末页，则显示下翻按钮 -->
      {% if articles.has_next %}
      <a
        href="?page={{ articles.next_page_number }}&order={{ order }}&search={{ search }}&category={{ category }}&tag={{ tag }}"
        class="btn btn-secondary btn-sm"
      >
        {{ articles.next_page_number }}
      </a>
      <span>...</span>
      <a
        href="?page={{ articles.paginator.num_pages }}&order={{ order }}&search={{ search }}&category={{ category }}&tag={{ tag }}"
        class="btn btn-outline-dark btn-sm"
      >
        <!-- {{ articles.paginator.num_pages }} &raquo; -->
        Last &raquo;
      </a>
      {% endif %}
    </span>
  </div>
</div>

</main>

<aside class="col-md-4  mt-md-5">

{% show_notification %}
{% show_resume %}
{% show_cats_tags %}
{% show_archives %}
</aside>






</div>

</div>
{% endblock content %}
